---
const {
  meta: {
    title = 'Catppuccin for UnoCSS',
    description = '🌸 Soothing pastel theme for UnoCSS!',
  } = {},
} = Astro.props as { meta?: { title?: string; description?: string } };
---

<html lang='en' data-theme='🌻'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />

    <title>{title}</title>

    {/* Information */}
    <meta name='description' content={description} />
    <meta name='keywords' content='UnoCSS, Catppuccin, Theme' />

    {/* Meta */}
    <meta name='theme-color' content='#ea76cb' />
    <meta
      name='theme-color'
      content='#f5c2e7'
      media='(prefers-color-scheme: dark)'
    />
    <meta name='color-scheme' content='dark light' />
    <meta name='generator' content={Astro.generator} />

    {/* OpenGraph */}
    <meta property='og:title' content={title} />
    <meta property='og:site_name' content='Catppuccin' />
    <meta property='og:description' content={description} />
    <meta property='og:url' content={Astro.site} />
    <meta property='og:type' content='website' />
    <meta property='og:image' content='/unocss-catppuccin/preview.webp' />

    {/* Twitter */}
    <meta property='twitter:title' content={title} />
    <meta property='twitter:description' content={description} />
    <meta property='twitter:image' content='/unocss-catppuccin/preview.webp' />
    <meta name='twitter:image:alt' content='Preview of Catppuccin for UnoCSS' />
    <meta property='twitter:card' content='summary_large_image' />

    <link
      rel='icon'
      href='/unocss-catppuccin/icons/icon-dark.svg'
      type='image/svg+xml'
      sizes='any'
      media='(prefers-color-scheme: dark)'
    />
    <link
      rel='icon'
      href='/unocss-catppuccin/icons/icon-light.svg'
      type='image/svg+xml'
      sizes='any'
      media='(prefers-color-scheme: light)'
    />
  </head>
  <body class='bg-ctp-base text-ctp-text transition-colors duration-300 ease'>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    &[data-theme='🌻'] {
      @apply scheme-light;
    }

    &:not([data-theme='🌻']) {
      @apply scheme-dark;
    }
  }
</style>
